body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main-container {
    display: flex;
    flex-direction: row;
    height: 95vh; /* Slightly smaller to accommodate padding */
    width: 90vw;  /* Slightly smaller to accommodate padding */
    max-width: 1920px; /* Maximum width to ensure compatibility */
    padding: 20px; /* Add padding to the container */
    box-sizing: border-box; /* Include padding in height and width */
  }
  .container-a {
    width: 66%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 50px; /* Add padding between charts */
  }
  .container-b {
    width: 34%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 50px; /* Add padding between charts */
  }
  .chart-container {
    width: 100%;
    aspect-ratio: 2 / 1; /* Maintain aspect ratio */
    margin: -20px 0; /* Add padding between charts */
  }
  .chart-container canvas {
    width: 100% !important;
    height: 100% !important;
  }
  .pie-chart-container {
    height: calc((95vh - 40px) / 2); /* Adjust height to fit both pie charts within the screen */
    margin-bottom: -100px;
  }

  .pie-charts-heading {
    margin-bottom: -200px; /* Adjust as needed */
  }
  